<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/" <% if (current=='/' ) { %>
                    class="active"
                    <% } %>
                        >Home
                </a>
            </li>
            <li>
                <a href="/vraag-aanbod" <% if (current=='/vraag-aanbod' ) { %> class="active"<% } %>
                        >Buurtinitiatieven</a>
            </li>
            <li>
                <a href="/detail" <% if (current=='/detail' ) { %> class="active"<% } %>>Contact</a>
            </li>
            <li>
                <a href="/detail" <% if (current=='/detail' ) { %> class="active"<% } %>>About</a>
            </li>
            <li>
                <a href="/detail" <% if (current=='/detail' ) { %> class="active"<% } %>>FAQ</a>
            </li>
        </ul>
    </nav>

    <section>

    </section>

    <section>
        <article>

        </article>
    </section>