<%- include('./partials/head' , {current: '/detail' }) %>

    <main>
        <section>
            <h1>
                <%= services.title %>
            </h1>

            <h2>Hallo test</h2>
        </section>


    </main>

    <%- include('./partials/foot') %>