<%- include('./partials/head' , {current: '/' }) %>

    <main>
        <section>
            <img src="/Hallen voorpagina.png" alt="">
            <h1>Ontdek BuurtConnect: Jouw Buurt, Jouw Projecten</h1>
            <article>Welkom bij BuurtConnect, het platform dat jouw buurt tot leven brengt met geweldige projecten en
                initiatieven! Of je nu een idee hebt om je buurt groener te maken, een evenement wilt organiseren om je
                buren te verenigen, of gewoon op zoek bent naar manieren om actief deel te nemen aan je gemeenschap,
                BuurtConnect is er om je te helpen.</article>
        </section>
    </main>

    <%- include('./partials/foot') %>